 ::-webkit-scrollbar{
  display: none;
  visibility: hidden;

 }
 ::-webkit-scrollbar-track{
  display: none;
  visibility: hidden;

 }

 #root{ overflow: hidden;}

 .navButton{
  border:2px solid black; 

 }
 