::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

body,
html {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  scrollbar-width: none;
  background-color: black;
  
}

.navButton {
  border: 2px solid black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ff3131;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  z-index: 10;
}
.beeLogo {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 100;
  transform: translate(-50%);
  opacity: 0.1;
  scale: 1.5;
}
.beeLogo img {
  width: 100px;
  height: auto;
}

.container {
  position: relative;
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bg, .bird {
  position: absolute;
  width: 80%;
  height: auto;
  z-index: 2;
  opacity: 0;
}

@media (max-width: 768px) {
  

   

  .container {
    height: 90vh; /* Adjust height for smaller screens */
  }

  .bg, .bird {
    width: 90%; /* Adjust background size on small screens */
  }
}

@media (max-width: 480px) {
  

  .container {
    height: 85vh; /* Adjust container height for mobile */
  }

  .bg, .bird {
    width: 95%; /* Make background elements fit mobile screen */
  }
}

.hover-circle {
  position: absolute;
  width: 400px;
  height: 400px;
  background: transparent;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}
.beeParallexTextContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  z-index: 999;
  position: absolute;
  bottom: 100px;
  padding: 10px;
  opacity: 0;
   
}
.comingSoon{
  font-family: 'Arial Unicode MS' ;
  letter-spacing: 6px;
  font-size: 18px;
  font-weight: 100;
  color: white;
  text-align: center;
 margin-bottom: -5px;
}
 
.fightHuman{
  font-family: 'Saira Condensed', Arial, sans-serif;
  letter-spacing: -1;
  font-size: 32px;
  font-weight: 700;
  color: white;
}
.platforms{
  display: flex;
  
}
.platform{
   margin-left: -10px;
   margin-right: -10px;
}
.introContainer{
 display: flex;
 flex-direction: column;
}