@font-face {
  font-family: 'Arial Unicode MS';
  src: url('/fonts/arial-unicode-ms.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Arial Unicode MS', Arial, sans-serif;
}
.ScrollMessage{
  font-family: 'Arial Unicode MS', Arial, sans-serif;
  letter-spacing: 6px;
  font-size: 18px;
  font-weight: 100;
}